<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" menu="menu1"></ion-menu-button>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment value="all" (ionChange)="onFilterUpdate($event)">
    <ion-segment-button value="all">All Places</ion-segment-button>
    <ion-segment-button value="bookable">Bookable Places</ion-segment-button>
  </ion-segment>
  <ion-grid *ngIf="loadedPlaces.length <=0 || !loadedPlaces">
    <ion-row>
      <ion-col>
        <p>No Bookable Places, please check later</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="loadedPlaces.length > 0">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <ion-card-title>
              {{ loadedPlaces[0].title }}
            </ion-card-title>
            <ion-card-subtitle> {{ loadedPlaces[0].price | currency }}</ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="loadedPlaces[0].img">
          </ion-img>
          <ion-card-content>
            <p>{{ loadedPlaces[0].description }}</p>
          </ion-card-content>
          <div>
            <ion-button expand="block" color="tertiary" [routerLink]="['/', 'places', 'tabs', 'discover', loadedPlaces[0].id]">
              More
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let place of loadedPlaces.slice(1)" 
          [routerLink]="['/', 'places', 'tabs', 'discover', place.id]"
          detail>
          <ion-thumbnail slot="start">
            <ion-img [src]="place.img"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>{{ place.title }}</h2>
            <p>{{ place.description }}</p>
          </ion-label>
        </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
